# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Vendor
vendor/

# IDE
.idea/

# any generated iid file
build-in-docker
check-in-docker
dep-in-docker
package-in-docker
container-structure-test-in-docker
